<button class="mat-icon-button" (click)="close()" style="float:right;">✖</button>

<p style="font-size: 20px;">
  Your cart
</p>

<table class="styled-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price ($)</th>
      <th>Photo</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let p of cart" >
      <td>{{ p.name }}</td>
      <td>{{ p.price }}</td>
      <td><img src="{{p.pictureUrl}}" style="width:50px; height: auto;"></td>
      <div> <button class="mat-raised-button" style="margin-top: 40%;" (click)="remove(p)">✖</button></div>
    </tr>
  </tbody>
  <p>Total: {{this.total}}</p>

  <div id="pp-checkout"></div>
</table>